@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoBlack";
  src: url("./fonts/roboto/Roboto-Regular.ttf");
}

body,
html {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  touch-action: manipulation;
  font-family: RobotoBlack;
}

p {
  margin-bottom: 0px;
}
div {
  position: relative;
  touch-action: manipulation;
}

button {
  font-family: RobotoBlack;
}

#mainContainer {
  position: relative;
  background-color: #bbdef0;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

#infoGame {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: grey;
  color: white;
  width: 100%;
  height: 40%;
}

#scoreContaineur {
  flex: 1;
  height: 60%;
}

#nbrDartsContaineur {
  position: relative;
  height: 60%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
}
#nbrDartsContent {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.btnCancelNbrDarts {
  margin-top: 30px;
}

.playerDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  justify-content: space-between;
}

.infoSecondaire {
  display: inline-block;
}

@media (orientation: portrait) {
  #mainContainer {
    flex-direction: column;
  }

  #infoGame {
    flex-direction: row;
    width: 100%;
    height: 40%;
  }
  #scoreContaineur {
    flex: 1;
    width: 100%;
    height: 60%;
  }

  .score {
    font-size: 15vh;
    line-height: 15vh;
    text-align: center;
  }
  .infoSecondaire {
    font-size: 2vh;
    line-height: 1vh;
  }
  .btnStartManche {
    font-size: 4vh;
  }
}

.btnStartManche {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40%;
}

@media (orientation: landscape) {
  #mainContainer {
    flex-direction: row-reverse;
  }

  #infoGame {
    flex-direction: column;
    width: 75%;
    height: 100%;
  }
  #scoreContaineur {
    flex: 1;
    width: 25%;
    height: 100%;
  }
  .score {
    font-size: 11vw;
    line-height: 11vw;
    text-align: center;
  }
  .infoSecondaire {
    font-size: 2vw;
    line-height: 1vw;
  }
  .btnStartManche {
    font-size: 4vw;
  }
  .playerDiv {
    height: 50vh;
  }
}

.colNumber {
  float: left;
  width: 33.333333333333333%;
  height: 100%;
}

.numberPav {
  /*GestionBordure*/
  border-width: 1px;
  border-style: solid;
  border-color: black;
  /*Taille*/
  height: 25%;
  width: 100%;
  /*Centrage du text*/
  text-align: center;
  padding: 0px;
  align-items: center;
  /*Police*/
  font-size: 7vh;
  touch-action: manipulation;
}

#actionBnt {
  height: 25%;
}

.bntAction {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
}

#divScore {
  margin: 0;
  position: relative;
  width: 100%;
  height: 15%;
  align-items: center;
  vertical-align: middle;
}

#currentScore {
  float: left;
  font-size: 6vh;
  line-height: 6vh;
  width: 66.66666666666666666%;
  height: 100%;
  min-width: 66%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: black;
}

#paveNum {
  height: 82%;
}

#bntUndo {
  height: 100%;
  width: 33.333333333333333333333%;
  font-size: 5vh;
}

.activPlayer {
  background-color: #02111b;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: min(7vw, 400px);
  font-weight: bold;
  line-height: 1.1; /* Ajuste l'espacement entre les lignes */
  max-height: calc(2 * 1.1em); /* Limite à 2 lignes */
  white-space: normal; /* Permet le retour à la ligne */
  word-wrap: break-word; /* Coupe les mots longs si nécessaire */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
}

.score {
  text-align: center;
  margin: 0;
  font-size: min(20vw, 100vw);
}

#btnClr {
  background-color: red;
  color: #fcfcfc;
  font-family: RobotoBold;
}

#btnValid {
  background-color: green;
  font-family: RobotoBold;
}

.divBtnStart {
  height: 10%;
  width: 50%;
}
