@font-face {
  font-family: "RobotoBold";
  src: url("public/font/roboto/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "Arial";
  display: flex;
  flex-direction: column;
}

#mainContainer {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#competition {
  font-size: 2vh;
  display: inline-flex; /* Change l'élément en un conteneur flex */
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement si besoin */
  text-align: center;
}

.statLine {
  width: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.libelleStat {
  width: 100%;
  height: 50%;
  background-color: gray;
  display: inline-flex; /* Change l'élément en un conteneur flex */
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement si besoin */
}

.colStatPayer {
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#colMiddle {
  width: 24%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 5vh;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.headerPlayer1 {
  width: 33%;
  display: flex;
}
.headerPlayer2 {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.headerCompetition {
  width: 33%;
}

#teamName1 {
  width: 75%;
}
#competition {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#teamName2 {
  width: 75%;
  text-align: right;
  display: block;
}

.libelleStatContainer {
  display: flex;
  position: relative;
  font-size: 2vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.statContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.stat {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  line-height: 100%;
  width: 0%;
  font-size: 2.5vh;
  text-shadow:
    #000000 1px 1px,
    #000000 -1px 1px,
    #000000 -1px -1px,
    #000000 1px -1px;
  color: white;

  align-items: center;
}

.leftContainer {
  justify-content: flex-end;
}

.leftPlayer {
  transition: width 1s ease 3s;
  width: 0;
  overflow: hidden;
}

.rightContainer {
  justify-content: flex-end;
}

.rightPlayer {
  justify-content: flex-end;
  width: 0;
  transition: width 1s ease;
  overflow: hidden;
}

.statValue {
  padding-left: 25px;
  padding-right: 25px;
}

.bgContainerLeft {
  justify-content: flex-end;
  min-width: 100%;
  height: 50%;
  line-height: 50%;
  background-color: rgba(84, 84, 84, 0.5);
}

.bgContainerRight {
  justify-content: flex-start;
  min-width: 100%;
  height: 50%;
  line-height: 50%;
  background-color: rgba(84, 84, 84, 0.5);
}

.bgMiddleCol {
  height: 50%;
  width: 100%;
  background-color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "RobotoRegul";
  src: url("./common/Roboto-Regular.ttf");
}
